<div class="header">
  <div class="header-content">
    <h1 class="title">angular-slick</h1>
    <p class="subheading">Angular directive for <a href="https://github.com/kenwheeler/slick">slick</a> carousel.</p>
    <ul class="nav">
      <li><a href="https://github.com/vasyabigi/angular-slick/archive/master.zip">download</a></li>
      <li><a href="https://github.com/vasyabigi/angular-slick">github</a></li>
    </ul>
  </div>
</div>

<section id="features" class="blue">
  <div class="content">
    <h2>Single Item</h2>
    <slick class="slider single-item">
      <div>
        <h3>1</h3>
      </div>
      <div>
        <h3>2</h3>
      </div>
      <div>
        <h3>3</h3>
      </div>
      <div>
        <h3>4</h3>
      </div>
      <div>
        <h3>5</h3>
      </div>
      <div>
        <h3>6</h3>
      </div>
    </slick>
    <br>
    <div hljs>

<slick>
  ...
</slick>
    </div>
    <hr/>
    <h2>Multiple Items</h2>
    <slick infinite=true slides-to-show=3 slides-to-scroll=3 class="slider multiple-items">
      <div>
        <h3>1</h3>
      </div>
      <div>
        <h3>2</h3>
      </div>
      <div>
        <h3>3</h3>
      </div>
      <div>
        <h3>4</h3>
      </div>
      <div>
        <h3>5</h3>
      </div>
      <div>
        <h3>6</h3>
      </div>
      <div>
        <h3>7</h3>
      </div>
      <div>
        <h3>8</h3>
      </div>
      <div>
        <h3>9</h3>
      </div>
    </slick>
    <div hljs>

<slick infinite=true slides-to-show=3 slides-to-scroll=3>
  ...
</slick>
    </div>
    <hr/>
    <h2>One At A Time</h2>
    <slick dots=true infinite=false speed=300 slides-to-show=5 touch-move=false slides-to-scroll=1 class="slider one-time">
      <div><h3>1</h3></div>
      <div><h3>2</h3></div>
      <div><h3>3</h3></div>
      <div><h3>4</h3></div>
      <div><h3>5</h3></div>
      <div><h3>6</h3></div>
    </slick>
    <br>
    <div hljs>

<slick dots=true infinite=false speed=300 slides-to-show=5 touch-move=false slides-to-scroll=1>
  ...
</slick>
    </div>
    <hr/>
    <h2>Lazy Loading</h2>
    <slick lazy-load='ondemand' slides-to-show=3 slides-to-scroll=1 class="slider lazy">
      <div><div class="image"><img data-lazy="images/lazyfonz1.png"/></div></div>
      <div><div class="image"><img data-lazy="images/lazyfonz2.png"/></div></div>
      <div><div class="image"><img data-lazy="images/lazyfonz3.png"/></div></div>
      <div><div class="image"><img data-lazy="images/lazyfonz4.png"/></div></div>
      <div><div class="image"><img data-lazy="images/lazyfonz5.png"/></div></div>
      <div><div class="image"><img data-lazy="images/lazyfonz6.png"/></div></div>
    </slick>
    <div hljs>

  <slick lazy-load='ondemand' slides-to-show=3 slides-to-scroll=1>
    ...
  </slick>
    </div>
  </div>
</section>

<section id="go-get-it" class="white">
  <div class="content">
    <p class="guff">Information about all settings you can find at original <a href="http://kenwheeler.github.io/slick/">slick</a> site.</p>
    <p>Directive alone is <a href="https://github.com/vasyabigi/angular-slick">here</a>.</p>
  </div>
</section>
