<div class="header">
  <div class="header-content">
    <h1 class="title">angular-slick</h1>
    <p class="subheading">Angular directive for <a href="https://github.com/kenwheeler/slick">slick</a> carousel.</p>
    <ul class="nav">
      <li><a href="">download</a></li>
      <li><a href="#getting-started">github</a></li>
    </ul>
  </div>
</div>

<section id="features" class="blue" ng-init="index=2">
  <div class="content">
    <h2>Single Item</h2>
    <slick class="slider single-item" current-index="index" responsive="breakpoints" slides-to-show=3 slides-to-scroll=3>
      <div ng-repeat="i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]"><h3>{{ i }}</h3></div>
      <p>Current index: {{ index }}</p>
    </slick>
    <p ng-click="index=4">Change index to 4</p>
    <br>
    <hr/>
    <h2>Multiple Items</h2>
    <slick slides-to-show=3 slides-to-scroll=3 init-onload=true data="awesomeThings" class="slider multiple-items">
      <div ng-repeat="thing in awesomeThings"><h3>{{ thing }}</h3></div>
    </slick>
    <hr/>
    <h2>One At A Time</h2>
    <slick dots="true" infinite="false" speed=300 slides-to-show=5 touch-move="false" slides-to-scroll=1 class="slider one-time">
      <div><h3>1</h3></div>
      <div><h3>2</h3></div>
      <div><h3>3</h3></div>
      <div><h3>4</h3></div>
      <div><h3>5</h3></div>
      <div><h3>6</h3></div>
    </slick>
    <br>
    <hr/>
    <h2>Lazy Loading</h2>
    <slick lazy-load='ondemand' slides-to-show=3 slides-to-scroll=1 class="slider lazy">
      <div><div class="image"><img data-lazy="images/lazyfonz1.png"/></div></div>
      <div><div class="image"><img data-lazy="images/lazyfonz2.png"/></div></div>
      <div><div class="image"><img data-lazy="images/lazyfonz3.png"/></div></div>
      <div><div class="image"><img data-lazy="images/lazyfonz4.png"/></div></div>
      <div><div class="image"><img data-lazy="images/lazyfonz5.png"/></div></div>
      <div><div class="image"><img data-lazy="images/lazyfonz6.png"/></div></div>
    </slick>
  </div>
</section>

<section id="go-get-it" class="white">
  <div class="content">
    <p class="guff">Information about all settings you can find at original <a href="http://kenwheeler.github.io/slick/">slick</a> site.</p>
  </div>
</section>
